<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
   <title>{{site.title}} | {{ page.title }}</title>
   <meta name="description" content="{{page.description}}">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
   {% include head/links.html %}
   {% include head/social-meta.html %}
 </head>
 <body>
  {% include header/header.html %}
  {{content}}
  {% include footer/footer.html %}
  {% include footer/links.html %}
 </body>
</html>
